<div class="d-block m-5">
    <mat-card-title>
        Customer Name:
    </mat-card-title><br>
    <mat-card-content *ngIf="transactionList; else else_spinner">
        <div *ngFor="let customer of transactionList" class="mt-5" >
            <mat-label>Customer Name:</mat-label>
            <mat-label> {{customer.custName}}</mat-label>
            <div>
                <div *ngFor="let transactions of customer.transactionList" class="row-container" >
                    <div>
                            <mat-label>Beneficiary Name: </mat-label>
                            <mat-label>{{ transactions.beneficiaryName }}</mat-label>
                        </div><br>
                    <div>
                        <mat-label>Transfer amount: </mat-label>
                        <mat-label>{{ transactions.transferAmount }}</mat-label>
                    </div><br>
                    <div class="row-item">
                        <mat-label>Transfer Currency: </mat-label>
                        <mat-label>{{ transactions.transferCurrency }}</mat-label>
                    </div><br>
                    <div class="row-item-last">
                        <mat-label>Reference: </mat-label>
                        <mat-label> {{ transactions.referenceNum }} </mat-label>
                    </div>
                </div>
            </div>
           
        </div>
       
            

    </mat-card-content>
    <ng-template #else_spinner>
        <div class="spinner-container">
    <p class="text-center">Please wait ...!!</p>
    <mat-spinner class="spinner-inner" [diameter]="30"> </mat-spinner>
</div>
</ng-template>
</div>