.nav-bar {
    overflow: hidden;
    display: block;
    height: 10%;
    background-color: #f1f1f1;
    padding: 5px 5px;
}
.title-page{
    font-size: x-large;
}
.logout-btn{
    position: relative;
    float: right;
}