<app-navbar [userSelected]="userSelected"></app-navbar>
<mat-tab-group mat-align-tabs="center" *ngIf="userDetailsArray; else else_spinner" (selectedTabChange)="onLinkClick($event)">
    <mat-tab label="New Transactions">
        <app-newtransactions [userArray]="userDetailsArray" [transactionList]="transactionList" (notifyParent)="updateData()"></app-newtransactions>
    </mat-tab>
    <mat-tab label="View transactions">
        <app-viewtransactions *ngIf="transactionList" [user]="userDetailsArray" [transactionList]="transactionList"></app-viewtransactions>
    </mat-tab>
</mat-tab-group>
<ng-template #else_spinner>
        <div class="spinner-container">
    <p class="text-center">Please wait ...!!</p>
    <mat-spinner class="spinner-inner" [diameter]="30"> </mat-spinner>
</div>
</ng-template>

